*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url("g3.jpg");
    background-size: cover;

}
#main-container{
    width: 100%;
    max-width: 420px; /* toi laka words aro content laka size hoijai container toh */
    border: 1px ;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* margin:200px auto; */
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    font-family: jost, sans-serif;

}
h1{
    text-align: center;
    font-family: jost, sans-serif;

}
label{
    text-align: center;
    margin-top: 20px;
}
#moodInput{
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    align-self: center;
    padding: 10px;
    border-radius: 5px;
}
#getSong{
    margin-top: 20px;
    width: 100%;
    max-width: 100px;
    align-self: center; /*aligns a button to the center*/
    border-radius: 3px;
    padding: 6px;
}
#results{
    width: 100%;
    max-width: 320px;
    border: 1px ;
    border-radius: 13px;
    height: 400px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    font-family: jost, sans-serif;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); */
    background-color: white;

}
#results p {
    margin: 10px 0;
    font-size: 18px;
}
.hidden{
    display: none !important;
}
.song-card img{
    max-height: 220px;
    width: 100%;
    object-fit: contain;
    margin: 50px auto;
    display: block;
}
